altgraph==0.17.3
auto-py-to-exe==2.34.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
cowsay==5.0
Eel==0.16.0
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.1
idna==3.4
pefile==2023.2.7
playwright==1.32.1
pycparser==2.21
pyee==9.0.4
pyfiglet==0.8.post1
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
pyparsing==3.0.9
pywin32-ctypes==0.2.0
requests==2.29.0
tabulate==0.9.0
typing_extensions==4.5.0
urllib3==1.26.15
whichcraft==0.6.1
zope.event==4.6
zope.interface==6.0
